.sum{
    font-size: 16px;
    font-weight: bold;
    color: rgb(72, 0, 0);
    background-color: rgb(223, 158, 60);
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 8px;
}
a{
    text-decoration: none;
}